;; schma for cli command history
;; TODO: Add :git_hash column

{:order  [:history]
 :schema {:history [[:cmd      :TEXT "NOT NULL"]
                    [:time     :TEXT "NOT NULL"] 
                    [:git_hash :TEXT "NOT NULL"] 
                    ["PRIMARY KEY" "(cmd, time)"]]}}
